.env/
dev/
modules/__pycache__/core.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/service.cpython-310.pyc
log.txt
crontab/__
crontab/saldos.txt
modules/__pycache__/safi.cpython-310.pyc

modules/__pycache__/safi.cpython-310.pyc
crontab/daily.log
crontab/jobs.log

modules/__pycache__/safi.cpython-310.pyc
lib/
crontab/__
lib/__

crontab/saldos_dia.txt
crontab/saldos_dia.txt
