################
# Unit Section #
################

[Unit]

Description= Progressa - Servicio de actualizacion de Saldos

# Send an email if the service ever fails
#OnFailure=status-email@%n.service

###################
# Service Section #
###################

[Service]

# = Para definir un usuario especifico
#User=tal
# = Grupo
#Group=tal


# Type of service
Type=simple

# Proceso base
ExecStart=/opt/progressa/.env/bin/python3 /opt/progressa/service.py

# Considerar la salida de python
Environment="PYTHONUNBUFFERED=x"

# Uncomment this to see debug messages
#Environment="DEBUG=true"

# If the script ever dies, restart it
Restart=always
RestartSec=30

###################
# Install Section #
###################

[Install]
WantedBy=multi-user.target
